/* range slider styling */
.range-slider {
    position: relative;
    width: 70%;
    height: 20px;
    display: inline-block;
    white-space: nowrap;
    /*overflow-x: hidden;*/
}
/* double range slider styling */
section.range-slider-2 {
    position: relative;
    width: 70%;
    height: 32px;
    text-align: center;
    display: inline-block;
}
/* general range styling to make things look bootstrap-y */
input[type=range] {
  -webkit-appearance: none;
  width: 70%;
  background-color: transparent;
  /*margin: 13.8px 0;*/
}
input[type=range]:focus {
  outline: none;
}

/* double range slider details */
section.range-slider-2 .rangeValues {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    pointer-events: none;
    outline: none;
    margin: 0px;
    padding: 0px;
}
section.range-slider-2 input[type=range] {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    top: 14px;
    overflow: hidden;
    pointer-events: none;
    outline: none;
    margin: 0;
    padding: 0;
}
section.range-slider-2 input[type=range]:last-of-type {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 0;
    top: 15px;
    overflow: hidden;
    pointer-events: none;
    outline: none;
    margin: 0;
    padding: 0;
}
section.range-slider-2 input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}
section.range-slider-2 input[type=range]::-moz-range-thumb {
    position: relative;
    pointer-events: all;
    z-index: 10;
    /*-moz-appearance: none;
    -webkit-appearance: none;*/
}
section.range-slider-2 input[type=range]::-moz-range-track {
    position: relative;
    /*z-index: -1;*/
    /*background-color:  rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);*/
    /*border: 0;*/
}
section.range-slider-2 input[type=range]:last-of-type::-webkit-slider-runnable-track {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none transparent;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
section.range-slider-2 input[type=range]:last-of-type::-moz-range-track {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none transparent;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
section.range-slider-2 input[type=range]:last-of-type::-ms-track {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none transparent;
  border-color: transparent;
  color: transparent;
}
section.range-slider-2 input[type=range]::-moz-focus-outer {
    border: 0;
}

/* bootstrap styling details */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 20px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}